body{
  width:80%;
  margin: 0 auto;
  margin-top: 20px;
  /* background: linear-gradient(to right, #193d85, #1e5799); */
  background: linear-gradient(to right top, #051937, #004f75, #008b93, #26c68a, #cdf770);
  font-family: "Open Sans", sans-serif;
}

.header{
  text-align: center;
  color: #fff; /* Ensure the header text is readable against the gradient */
  font-weight: bold; /* Make the header text bold */
}

.row{
  padding-bottom: 2%;
}