.form-container {
    display: flex;
    align-items: center;
  }

.form-inline {
    display: flex;
    align-items: center;
  }
  
  .input-task {
    flex-grow: 1;
  }
  
  button.ui.icon.button {
    padding: 1% 2em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  button.ui.button {
    padding: 1em 2em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .task-counter {
    font-weight: bold;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* black border */
  }